/* .list-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}


.search-container input[type="text"] {
  width: 200px;
  padding: 10px;
  font-size: 16px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  padding: 10px 20px;
  background-color: lightblue;
  color: white;
  border: none;
  border-radius: 5px;
} */
