.list-container {
  background-color: #302939;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

}

.list-search {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.list-search input {
  background-color: #50595c;
  color: #fff;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  margin-right: 10px;
}

.list-search button {
  background-color: #e99b9b;
  color: #fff;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  cursor: pointer;
}

.list-search button:hover {
  background-color: #ffd8d8;
  color: #302939;
}
